
// set your custom colors here
$siteBgColorCustom: #ffffff;
$sidebarBgColorCustom: #F8F9FA;
$textColorCustom: #000000;
$sidebarTextColorCustom: #000000;

$headlineColorCustom: #ff4800; //orange
$headingColorCustom: #088cb8; //blue

$bodyLinkColorCustom: #000000;
$navLinkColorCustom: #000000;
$sidebarLinkColorCustom: #000000;

$footerTextColorCustom: #000000;

$buttonTextColorCustom: #000000;
$buttonHoverTextColorCustom: #000000;
$buttonBgColorCustom: #000000;
$buttonHoverBgColorCustom:#000000;
$borderColorCustom: #0284c7;
